<html>
<body>
    <h1>YNAB Daily Report</h1>
    <h2>Transactions</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Payee</th>
            <th>Category</th>
            <th>Amount</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.payee_name }}</td>
            <td>{{ transaction.category_name }}</td>
            <td>{{ "${:,.2f}".format(transaction.amount/1000) }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Account Balances</h2>
    <p>Checking: {{ "${:,.2f}".format(checking_balance) }}</p>
    <p>Savings: {{ "${:,.2f}".format(savings_balance) }}</p>
    <p>Credit Card Debt: {{ "${:,.2f}".format(credit_card_balance) }}</p>
    
    <h2>Summary</h2>
    <p>Liquid Savings: {{ "${:,.2f}".format(net_balance) }}</p>
    {{ net_balance_chart }}
</body>
</html>
